@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

body {
    margin: 0;
    font-family: RedHat;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
